body {
	background-color: #eaeaea;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	
}
* {
	box-sizing: border-box;
}
header {
	background-color: #a8122b;
	color: #FFFFFF;
	background-image: url(garden.jpg);
	background-position: right;
	background-repeat: no-repeat;
	text-indent: 1em;
	padding-top: 10px;
	padding-left: 3em;

}
header a {
	text-decoration: none;
}
header a:link {
	color: #FFFFFF;
}
header a:visited {
	color: #FFFFFF;
}
header a:hover {
	color: #90c7e3
}
section {
	float: left;
	width: 33%;
	padding-left: 2em;
	padding-right: 2em;
}
main {
	margin-left: 190px;

	padding-top: 1px;
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	display: block;
	overflow: auto;
}
label {
	float: left;
	display: block;
	text-align: right;
	width: 140px;
	padding-right: 5px;
}
input {
	margin-bottom: 20px;
	display: block;
}
textarea {
	margin-bottom: 20px;
	display: block;
}
input[type="submit"] {
	margin-left: 140px;
}
nav {
	
	font-weight: bold;
	font-size: 120%;
	padding: 1.5em;
	float: left;
	width: 190px;
	height: 100%;
	
	
}
nav a {
	text-decoration: none;
}
nav ul {
	font-size: 1.2em;
	list-style-type: none;
	margin: 0;
	padding-left: 0;

}
table { border: 2px solid #3399CC;
	border-collapse: collapse;
	
}
tr:nth-of-type(odd){
background-color: #BDDFF0;
}


td {
border: 2px solid #3399CC;
padding: .5em;
text-align: center;

}
th {
border: 2px solid #3399CC;
padding: .5em;

}
h1 {
	margin-bottom: 0;
	font-family: Georgia, "Times New Roman", serif;
}
h2 {
	color: #0b6119;
	font-family: Georgia, "Times New Roman", serif;
	text-decoration: none;
}
h3 {
	font-family: Georgia, "Times New Roman", serif;
	color: #0b6119;
}
ul {
	list-style-image: url(marker.gif);
}
footer {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 75%;
	font-style: italic;
	text-align: center;
}
dt {
	color: #002171;
}
.resort {
	color: #1976D2;
	font-weight: bold;
}
.text {
	text-align: left;
}
#special {
	clear: both;
}
#contact {
	font-size: 90%;
}
#lawnmower {
	text-align: right;
	padding-right: 1em;
}
#homehero {
	height: 300px;
	background-image: url(lawn.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}
#wrapper {
	width: 80%;
	background-color: #cc5e63;
	background-image: linear-gradient(to bottom, #FFFFFF, #cc5e63);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;
	max-width: 2000px;
	box-shadow: 3px 3px 3px #333333;
	border-width: 1px;
	border-style: solid;
	border-color: #000033;
}
